<h2>Juego de Memoria</h2>
<div id="game-board">
    <div class="column" id="column1"></div>
    <div class="column" id="column2"></div>
</div>
<div id="message"></div>
<div id="timer">Tiempo: <span id="time">0</span> segundos</div>
<button class="button" id="restart">Jugar de Nuevo</button>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>¡Felicidades! Has completado el juego en <span id="modalTime"></span> segundos.</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/juego.js"></script>